*{
	font-family: 'Lexend', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;

}



body{
	background-color: #b6b6be;
}

li, a, button, p , article{
	font-weight: 500;
	font-size: 16px;
	color: rgb(240, 240, 240);
	text-decoration: none;
	text-align: center, justify;
}



#titleblue{
	color: #1352e5;
}

h2, h3,h4,{
	text-align: justify;
	
}

section#derecha{
  float: right;
  width: 300px;
  height: auto;
  background-color: #0088a9;
}

video{
	width: 100%;
	align-items: center;
}

.home {
	/*background-image: linear-gradient(to left top, #e7571d, #f85c6a, #ee76a5, #d394cb, #bcaed8, #b9bada, #bdc4d8, #c7cdd5, #ccd3da, #d1d8df, #d7dee3, #dce3e8);}*/
	background-color: #1d1d25;
	color: whitesmoke;
	
}
#name{
	text-align: center;
	color: #f0efef;
	font-size: 200 ;
}



#perf{
	padding: 25px;
	text-align: center;
	border-radius: 18%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	float:inline-end;
    height: auto;
}

#about{
	background-image: linear-gradient(to left bottom, #151122, #1f173f, #1c1832, #211f30, #151422, #181823, #1d1d29, #1f1f27, #53535b, #afafb3, #f7f7f7, #ffffff);
	/* background-image: linear-gradient(to bottom, #836bd1, #9080d4, #9e94d7, #ada7d8, #bdbbd8, #c8c7db, #d3d3de, #dfdfe1, #e7e7e8, #efeff0, #f7f7f7, #ffffff); */
	padding: 150px 100px 150px 100px;
	text-align: justify;
	color: rgb(249, 250, 250);

}
#about h2{
	color:#1273fa;
}
#studi{
	background-color: rgb(77, 74, 89);
	padding: 150px 100px 150px 100px;
	text-align: justify;
	color: aliceblue;
}

#portfolio {
	padding: 150px 100px 150px 100px;
	text-align: justify;
	background-image: linear-gradient(to right bottom, #5b5454, #645999, #c8c2f3, #615a97, #8d89e5, #302f5c, #35376b, #4951a8, #3c4284, #2f3361, #232540, #171721);
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	background: linear-gradient(to right, black, rgb(75, 71, 71))
}

.logo{
	cursor: pointer;
	order:1;
	margin-left: auto;
}

/* navbar */
nav{
	order: 1;
}
.nav__links {
	list-style: none;
}
.nav__links li{
	display: inline-block;
	padding: 10px 20px ;
}
.nav__links li a{
	transition: all 0.3s  0s;
}
.nav__links li a:hover {
	color: #d0e8ee
}

.cta{
	order:2
}

button{
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
button:hover {
	background-color: rgba(1, 35, 43, 0.8);
}




/* footer */


footer.seccion{
	/*background-image: linear-gradient(to bottom, #303059, #555276, #7a7794, #a09db3, #c8c6d3, #c4c3cd, #c1c1c7, #bebec1, #909095, #64646c, #3c3b45, #171721);*/
	color: white;
	padding-bottom: 0;
}

footer .barra-footer{
	background-color: rgb(81, 81, 81);
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 30px;
}

footer .logo-footer{
	width: 10%;
}

footer p{
	color: rgb(4, 4, 4);
	margin-bottom: 30px;
}

footer a{
	color: rgb(10, 10, 10);
	
}


footer ul{
	padding-left: 0;
	list-style: none;
}

footer .redes{
	font-size: 10px;
	display: inline-block;

	justify-content: space-between;

}

footer .redes a{
	margin: 0 7.5px;	
}

footer ul li{
	margin-bottom: 10px;
	color: whitesmoke;
}

.container{
	width: 1140px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	

}

.columna{
	padding-right: 15px;
	padding-left: 15px;
}	
.container-fluid{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.columna-25{
	width: 25%;
}

#carouselExampleIndicators{
	width: auto;
	align-items: center;
	border-radius: 15%;
}

footer.seccion{
	background-color: rgb(93, 91, 91);
	color: white;
	padding-bottom: 0;
}

footer .barra-footer{
	background-color: grey;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 30px;
}

footer .logo-footer{
	width: 100%;
}

footer p{
	color: white;
	margin-bottom: 30px;
}

footer a{
	color: white;
	
}


footer ul{
	padding-left: 0;
	list-style: none;
	margin: 0;
}


footer .redes{
	font-size: 30px;
	display: flex;
	justify-content: space-between;

}

footer .redes a{
	margin: 0 7.5px;	
}

footer ul li{
	margin-bottom: 10px;
}

form .botom.boton-negro{
	width: 100%;

}

footer{
	text-align: center;
}

footer .logo-footer{
	width: 50%;
}

footer .redes{
	justify-content: center;
}

/* cotización  */

.container_cot {
    background-color: rgb(20, 65, 186) ;
    border-radius: 15px;
    /* border: solid rgba(183, 231, 166, 0.635)  5px ; */
    color: rgb(245, 255, 255);
	
}

#cardText {
    color:black;
}

.card-header{
    color: black;
}



@media(max-width: 767px)
{
	body{
		font-size: 15px;
	}
	header .container nav
	{
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: white;
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 15px;
		padding-right: 15px;
		top: 0; 
		left: 0;
		display: flex;
		flex-direction: column;
		transition: all 0.4s ease;
		transform: translateX(100%);
	}
	header .container nav.open
	{
		transform: translateX(0) ;
	}

	header .container nav a
	{
		font-size: 30px;
		margin: 15px 0;
	}
	
	header .container .hamb{
	display: block;
	font-size:  40px;
	color: red;
	}

	.container
	{
		width: 100%;
	}

	.columna-mobile-100{
		width: 100%;

	}	

	.columna-mobile-50{
		width: 50%;		
	}	

	#inicio{
		height: 100vh;
	}
	#inicio img{
		height: 600px;
		width:100%;		
		object-fit: cover;
		object-position: center;
	}

	#servicios .bloque-servicio{
		border: 1px solid grey;
		margin-bottom: 15px;

	}

		#contactenos iframe{
	padding: 0;
	}

	#contactenos iframe{
	position: relative;
	height: 50vh;	
	}
	.columna-mobile-50{
	width: 50%;
	}
	.columna-mobile-100{
	width: 100%;
	}

}


