*{
	font-family: 'Lexend', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;

}

body{
	background-color: #b6b6be;
}

li, a, button, p , article{
	font-weight: 500;
	font-size: 16px;
	color: black;
	text-decoration: none;
	text-align: justify;
}

h1{
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 80px;
}

h2, h3,h4{
	text-align: justify;
	
}

.home {
	background-image: linear-gradient(to left top, #e7571d, #f85c6a, #ee76a5, #d394cb, #bcaed8, #b9bada, #bdc4d8, #c7cdd5, #ccd3da, #d1d8df, #d7dee3, #dce3e8);}

#name{
	text-align: center;
	color: #353535;
	font-size: 200 ;
}

#perf{
	padding: 25px;
	text-align: center;
	border-radius: 15%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

#about{
	background-image: linear-gradient(to left bottom, #836bd1, #9080d4, #9e94d7, #ada7d8, #bdbbd8, #c8c7db, #d3d3de, #dfdfe1, #e7e7e8, #efeff0, #f7f7f7, #ffffff);
	/* background-image: linear-gradient(to bottom, #836bd1, #9080d4, #9e94d7, #ada7d8, #bdbbd8, #c8c7db, #d3d3de, #dfdfe1, #e7e7e8, #efeff0, #f7f7f7, #ffffff); */
	padding: 350px 100px 350px 100px;
	text-align: justify;
	color: aliceblue;

}

#studi{
	background-color: rgb(171, 165, 200);
	padding: 150px 100px 150px 100px;
	text-align: justify;
	color: aliceblue;
}

#portfolio {
	background-image: linear-gradient(to right bottom, #ffffff, #e4e0f9, #c8c2f3, #aca5ec, #8d89e5, #7776d0, #6063bc, #4951a8, #3c4284, #2f3361, #232540, #171721);
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	background: linear-gradient(to right, black, rgb(75, 71, 71))
}

.logo{
	cursor: pointer;
	order:1;
	margin-left: auto;
}

/* navbar */
nav{
	order: 1;
}
.nav__links {
	list-style: none;
}
.nav__links li{
	display: inline-block;
	padding: 10px 20px ;
}
.nav__links li a{
	transition: all 0.3s  0s;
}
.nav__links li a:hover {
	color: #0088a9
}

.cta{
	order:2
}

button{
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
button:hover {
	background-color: rgba(1, 35, 43, 0.8);
}




/* footer */


footer.seccion{
	background-image: linear-gradient(to bottom, #303059, #555276, #7a7794, #a09db3, #c8c6d3, #c4c3cd, #c1c1c7, #bebec1, #909095, #64646c, #3c3b45, #171721);
	color: white;
	padding-bottom: 0;
}

footer .barra-footer{
	background-color: rgb(39, 38, 38);
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 30px;
}

footer .logo-footer{
	width: 10%;
}

footer p{
	color: rgb(4, 4, 4);
	margin-bottom: 30px;
}

footer a{
	color: rgb(0, 0, 0);
	
}


footer ul{
	padding-left: 0;
	list-style: none;
}

footer .redes{
	font-size: 30px;
	display: inline-block;

	justify-content: space-between;

}

footer .redes a{
	margin: 0 7.5px;	
}

footer ul li{
	margin-bottom: 10px;
}

.container{
	width: 1140px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	

}

.columna{
	padding-right: 15px;
	padding-left: 15px;
}	
.container-fluid{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.columna-25{
	width: 25%;
}

/*#carouselExampleIndicators{
	width: auto;
	align-items: center;
}*/